.selvatici_alto {
    width: 100%;
    height: 20vh;
                background-color: var(--grigio-chiaro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2%;
}

.selvatici_alto h1 {
    color: var(--arancio-hover);
    font-size: 40px;
}

.selvatici_alto h2 {
            color: var(--blu-enpa);
    font-size: 30px;
}

.selvatici_box, .selvatici_box2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 2%;
}

.selvatici_left, .selvatici_right,
.selvatici_left2, .selvatici_right2 {
    width: 45%;
    padding: 2%;
}

.selvatici_right h2, .selvatici_left2 h2 {
    text-align: center;
    color: var(--blu-enpa);
    font-size: 30px;
}

.selvatici_right p, .selvatici_left2 p {
    text-align: left;
    font-size: 20px;
}

.selvatici_left img, .selvatici_right2 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Effetto parallasse */
.selvatici_centrale {
    width: 100%;
    height: 40vh;
    background-image: url("../img/2.jpg");
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 767px) {
    .selvatici_box, .selvatici_box2 {
        flex-direction: column;
        align-items: center;
    }

    .selvatici_left, .selvatici_right,
    .selvatici_left2, .selvatici_right2 {
        width: 90%;
    }

}
