.volontario_alto {
    width: 100%;
    height: 20vh;
                background-color: var(--grigio-chiaro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2%;
}

.volontario_alto h1 {
    color: var(--arancio-hover);
    font-size: 40px;
}

.volontario_alto h2 {
            color: var(--blu-enpa);
    font-size: 30px;
}

.volontario_box, .volontario_box2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 2%;
}

.volontario_left, .volontario_right,
.volontario_left2, .volontario_right2 {
    width: 45%;
    padding: 2%;
}

.volontario_right h2, .volontario_left2 h2 {
    text-align: center;
    color: var(--blu-enpa);
    font-size: 30px;
}

.volontario_right p, .volontario_left2 p {
    text-align: left;
    font-size: 20px;
}

.volontario_left img, .volontario_right2 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Effetto parallasse */
.volontario_centrale {
    width: 100%;
    height: 40vh;
    background-image: url("../img/jcr_content-3004447969.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/* Override per Safari iOS (iPhone/iPad) */
@supports (-webkit-touch-callout: none) {
    .canile_centrale {
        background-attachment: scroll; /* disabilita il fixed su iOS */
        background-position: center;
    }

@media screen and (max-width: 767px) {
    .volontario_box, .volontario_box2 {
        flex-direction: column;
        align-items: center;
    }

    .volontario_left, .volontario_right,
    .volontario_left2, .volontario_right2 {
        width: 90%;
    }

}
